* {
  color: steelblue;
  margin: 10px;
  font-size: 16px;
}
body{
  background-color: oldlace;
  font-family: 'Open Sans', sans-serif;
}
h1, h2,h4, h3, p{
  text-align: center;
}
h4{
  text-decoration: underline;
}

}
.center{
  display: flex;
  justify-content: center;
}

footer{
  text-align: right
}
.entete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#haut {
  align-self: center;
}
.job{
  font-size: 0.8em;
}